/*--
Remember the cascade: 
 1. later styles override earlier ones 
 2. more specific styles override more general ones
--*/
html {
  padding: 0;
  padding-top: 0;
  margin: 0;
	font-size: 62.5%;
}
img {
	width: 100%;
	height: auto;
}
body {
  color: #444;
  margin: auto;
  font-size: 1.6rem;
  font-family: 'Gentium Book Plus', serif;
}
p {
  margin-bottom: .67em;
}
nav, footer {
  background-color: #d1891c;
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #dfc59f;
  
}

/*-- Main Menu Styles--*/
nav ul {
  list-style: none;
  margin-top: 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
nav a:link, nav a:visited {
  color: #dfc59f;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #F0F0F0;
  text-decoration: underline;
}
nav a.active {
  color: #F0F0F0;
}
/*-- Hero Unit Styles--*/
header {
  text-align: center;
  color: #d1891c;
  font-size: 150%;
  margin: auto;
  width: 510px;
  font-family: 'Gentium Book Plus', serif;
  margin-top: 2em;
  margin-bottom: 2em;
}
header img {
  width: 100%;
  margin: auto;
}
header h1 {
  margin: auto;
  padding: 10 auto;
  font-weight: lighter;
  font-size: 65%;
  font-family: 'Lato', sans-serif;
}
.small {
  margin-top: 1em;
}
/*-- Article Styles--*/
article {
  text-align: center;
  margin: auto;
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
}
article figure {
  width: 39%;
  margin: auto;
  float: right;
}
figcaption {
  font-size: 16px;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
  color: #d1891c;
}
.pagination {
  text-align: center;
  margin: auto;
  -ms-flex-align: stretch;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 96%;
}
a.button {
  border: 2px solid #d1891c;
  text-align: center;
  margin: auto;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: #d1891c;
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}
a.button:hover, a.button:active {
  justify-content: space-between;
  border: 10px solid #d1891c;
  text-decoration: none;
  color: #d1891c;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
